{
	data = {
		curpage = 1;
		pagesize = 12;
		paperId = 2;
		periodlist = (
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-15 11:01:02";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/15/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-15";
				periodId = 7622;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/15/A01/20160315A01_brief.jpg";
				"New item" = "";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/15/A01/icon_20160315A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 40;
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/15/";
				rid = 1046;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-14 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/14/node_83.htm";
				lastLayout = 148;
				paperId = 2;
				periodDate = "2016-03-14";
				periodId = 7601;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/14/A01/20160314A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/14/A01/icon_20160314A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 32;
				periodName = "2016-03-14";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/14/";
				rid = 1044;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-12 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/12/node_83.htm";
				lastLayout = 98;
				paperId = 2;
				periodDate = "2016-03-12";
				periodId = 7581;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/12/A01/20160312A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/12/A01/icon_20160312A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 16;
				periodName = "2016-03-12";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/12/";
				rid = 1042;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-11 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/11/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-11";
				periodId = 7562;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/11/A01/20160311A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/11/A01/icon_20160311A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 40;
				periodName = "2016-03-11";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/11/";
				rid = 1040;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-10 11:01:02";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/10/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-10";
				periodId = 7542;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/10/A01/20160310A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/10/A01/icon_20160310A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 40;
				periodName = "2016-03-10";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/10/";
				rid = 1037;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-09 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/09/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-09";
				periodId = 7522;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/09/A01/20160309A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/09/A01/icon_20160309A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 40;
				periodName = "2016-03-09";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/09/";
				rid = 1034;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-08 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/08/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-08";
				periodId = 7502;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/08/A01/20160308A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/08/A01/icon_20160308A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 39;
				periodName = "2016-03-08";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/08/";
				rid = 1033;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-07 11:01:02";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/07/node_83.htm";
				lastLayout = 148;
				paperId = 2;
				periodDate = "2016-03-07";
				periodId = 7483;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/07/A01/20160307A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/07/A01/icon_20160307A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 32;
				periodName = "2016-03-07";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/07/";
				rid = 1031;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-06 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/06/node_83.htm";
				lastLayout = 90;
				paperId = 2;
				periodDate = "2016-03-06";
				periodId = 7482;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/06/A01/20160306A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/06/A01/icon_20160306A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 8;
				periodName = "2016-03-06";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/06/";
				rid = 1029;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-05 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/05/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-05";
				periodId = 7462;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/05/A01/20160305A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/05/A01/icon_20160305A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 24;
				periodName = "2016-03-05";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/05/";
				rid = 1027;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-04 11:01:02";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/04/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-04";
				periodId = 7442;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/04/A01/20160304A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/04/A01/icon_20160304A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 40;
				periodName = "2016-03-04";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/04/";
				rid = 1025;
			},
			{
				importFlag = 1;
				importNum = 1;
				importTime = "2016-03-03 11:01:01";
				importUrl = "http://lywb.lyd.com.cn/html2/2016-03/03/node_83.htm";
				lastLayout = 176;
				paperId = 2;
				periodDate = "2016-03-03";
				periodId = 7422;
				periodImage = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/03/A01/20160303A01_brief.jpg";
				periodImageIcon = "http://shouji.lyd.com.cn/tools/res/images2/2/2016-03/03/A01/icon_20160303A01_brief.jpg";
				periodLabel = "";
				periodLayouts = 40;
				periodName = "2016-03-03";
				periodNum = "<null>";
				periodPath = "images2/2/2016-03/03/";
				rid = 1021;
			},
		);
	};
	result = success;
}